{% extends "_base.html" %}
{% load static %}

{% block content %}


<div class="row mt-4">			
	<table class="table table-dark table-borderless">
		<form class="row row-cols-lg-auto g-3 align-items-center">
		  <div class="col-12">
		      <label class="visually-hidden" for="inlineFormInputGroupUsername">Имя</label>
		      <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Имя ученика">
		   </div>


		  <div class=" col-md-6 col-12">
		    <button type="submit" class="btn btn-primary">Поиск</button>
		  </div>
		</form>
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Имя</th>
	      <th scope="col">Фамилия</th>
	      <th scope="col">Школа</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for s in students %}
	    <tr>
	      <th scope="row">{{s.id}}</th>
	      <td>
	      	<a href="{% url 'student_detail' s.id %}">
	      		{{s.name}}
	      	</a>	
	  	  </td>
	      <td>{{s.username}}</td>
	      <td>{{s.school}}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
</div>

{% endblock content %}