{% extends "_base.html" %}
{% load static %}

{% block content %}


<div class="col-8 mt-4">			
	<h3>все учителя</h3>
	<a href="{% url 'teacher_create' %}">добавить</a>
	<table class="table table-dark table-borderless">
		<form class="row row-cols-lg-auto g-3 align-items-center" action='' >
		  <div class="col-12">
		      <label class="visually-hidden" for="inlineFormInputGroupUsername">Имя</label>
		      <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Имя ученика"
		      name="q" value="{{search_query}}"
		      >
		   </div>
		<div class="row mt-2  mb-2">
		  <div class=" col-md-4 col-15">
		    <button type="submit" class="btn btn-primary">Поиск</button>
		  </div>
		 </div> 
		</form>
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Имя</th>
	      <th scope="col">Фамилия</th>
	      <th scope="col">Школа</th>
	      <th scope="col">дата рождения</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for s in teachers %}
	    <tr>
	      <td scope="row">{{s.id}}</td>
	      <td>
	      	<a href="{% url 'student_detail' s.id %}">
	      		{{s.name}}
	      	</a>	
	  	  </td>
	      <td>{{s.surname}}</td>
	      <td>{{s.school}}</td>
	      <td>{{s.birth_date}}</td>
	    </tr>
	{% empty %}
	    <tr>
	    	<td colspan="5">
	    		Поииск не дал результатов
	    	</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
</div>

{% endblock content %}